
{% extends "bootstrap/base.html"  %}
{% block title %}Flask{% endblock %}
{% block navbar %}
<div class="navbar navbar-inverse" role="navigation" id="navtop">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">同义词在线编辑</a>
        </div>
        <div class="navbar-collapse collapse">
        
            <ul class="nav navbar-nav">
                <li><a href="/">InheTech</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li><a href="/">返回首页</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container" style="margin:0px;margin:0 auto;">
<div class="col-md-2" style="background-color:#FFFFFF;">


</div>
        <div class="col-md-8" style="background-color:#FFFFFF">
        {% block page_content %}{% endblock %}
        </div>
  <div class="col-md-2" style="background-color:#FFFFFF;">


</div>
</div>
{% endblock %}